/*
 *	制作日期：2016.3.17 16:43
 *	
*/

body,ul,p,ol,h1,h2,h3,h4,h5{ margin:0; padding:0;}
body { font-family:'微软雅黑';}
li{ list-style:none;}
a{ text-decoration:none;}
img{ border:none; vertical-align:top;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix{ zoom:1;}
.clearfix:after{ display:block; content:''; font-size:0; clear:both; visibility:hidden;}

/* 导航内容 */
#top{ width:100%; height:143px;}
#navlist { width:100%;  height:30px; background:#2f2f2f;}
#nav { width:960px; margin:0 auto;}
#nav ul { float:right; margin-right:-20px;}
#nav ul li { float:left; height:30px; line-height:30px; margin-right:20px; position:relative; color:#6e8b8b; font-size:12px;}
#nav ul li img.vip { display:inline-block; width:24px; height:24px;}
#nav ul li img.sui { display:inline-block; width:24px; height:24px; line-height:30px;}
#nav ul li a { color:#b5b5b5; font-size:12px; display:inline-block;  height:30px; line-height:30px;}
#nav ul li a:hover { color:#0C3;}

#logo { width:960px; height: 113px; margin:0 auto; position:relative;}
#qq-logo { width:181px; height:54px; position:absolute; left:0; top:31px; }
#main-title { width:700px; height:100%; position:relative; left:238px; }
#main-title ul { width:397px; height:75px; position:absolute; left:0; top:0; margin-right:-32px;}
#main-title ul li { float:left;}

#main-title ul li:nth-child(1) a { display:inline-block; width:88px; height:75px; background:url(../images/frame_bg.png) no-repeat; left:0; top:0; margin-right:13px;}
#main-title ul li:nth-child(2) a { display:inline-block; width:58px; height:75px; background:url(../images/frame_bg.png) no-repeat -101px -79px; margin-right:7px; }
#main-title ul li:nth-child(2) a:hover {  background:url(../images/frame_bg_active.png) no-repeat -101px -79px; }
#main-title ul li:nth-child(3) a { display:inline-block; width:89px; height:75px; background:url(../images/frame_bg.png) no-repeat -166px -79px; margin-right:12px;}
#main-title ul li:nth-child(3) a:hover {  background:url(../images/frame_bg_active.png) no-repeat -166px -79px; }
#main-title ul li:nth-child(4) a { display:inline-block; width:106px; height:75px; background:url(../images/frame_bg.png) no-repeat -267px -79px;}
#line{ width:100%; height:1px; background:#dddddd;}
#main-title ul li:nth-child(4) a:hover {  background:url(../images/frame_bg_active.png) no-repeat -267px -79px; }

#main-title ol { position:absolute; left:0; top:75px; display:none;}
#main-title ol li{ float:left; font-size:4px; color:#999; height:38px; line-height:38px;}
#main-title ol li a{ padding:0 18px; font-size:14px; font-family:'宋体'; color:#333;}
#main-title ol li:nth-child(0) a{ color:red;}
#main-title ol li a:hover { color:green; }
#main-title ol:nth-of-type(1) li:nth-of-type(1) a { color: green; font-weight: 900; }
#main-title ol:nth-of-type(2) { left: 100px;}
#main-title ol:nth-of-type(3) { left: 40px;}

#search { width:228px; height:40px; background:url(../images/frame_bg.png) no-repeat  0 -161px; position:absolute; right:0; top:38px; }
#search #search-music { width:190px; height:28px; border:none; padding:0; outline:none; position:absolute; left:8px; top:5px; text-indent:1em; color:#d4d4d4;}
#search-btn { width:28px; height:28px; display:block; position:absolute; right:2px; top:4px;}

/* 主体内容 */
#cont{ width:960px; height:2114px; margin:20px auto 0;}


/* 左侧内容 */
#cont #main{ width:700px; height:100%;}

/* 左侧轮播 */
#cont #main #tab{ width:700px; height:280px; position:relative; otverflow:hidden;}
#cont #main #tab #ul1{ position:absolute; left:0; top:0;}
#cont #main #tab #ul1 li{ width:700px; height:280px; position:absolute; display:none;}
#cont #main #tab #ul1 li img {width: 100%; height: 100%;}

#cont #main #tab #ol1{ z-index:9; position:absolute; left:264px; bottom:10px; width:180px; height:10px; margin-right:-8px;}
#cont #main #tab #ol1 li{ width:10px; height:10px; background:rgba(255,255,255,0.5); margin-right:8px; border-radius:50%; float:left;cursor:pointer; }
#cont #main #tab #ol1 li.active{ background:rgba(255,255,255,1);}

#cont #main #tab a.prevBtn, a.nextBtn { display:inline-block; width:35px; height:70px; overflow: hidden; background: url(../images/mod_focus_show.png) no-repeat; opacity: 0.3; filter: alpha(opacity=30); transition: .2s; position: absolute; z-index: 2;}
#cont #main #tab a.prevBtn { left: 0; top: 105px; background-position: 0 0;}
#cont #main #tab a.nextBtn { position: absolute; right:0; top: 105px; background-position: right top;}
#cont #main #tab a[class*=Btn]:hover { opacity: 0.6; filter: alpha(opacity=60);}

/* 在线首发 */
#album{ width:700px; height:318px; margin-top:40px;}

/* 在线首发_标题 */
#album #album_title{ width:700px; position:relative;}	
#album #album_title #title_L{ width:156px; height:30px; padding-left:10px; border-left:5px solid #ff0000; position:relative;}
#album #album_title #title_L h2{ width:110px; height:26px; margin-right:10px; background:url(../images/index_title_bg.png) no-repeat; position:absolute; left:10px; top:2px; }
#album #album_title #title_L sub{ width:36px; height:14px; position:absolute; left:130px; bottom:3px; background:url(../images/index_title_bg.png) no-repeat; background-position:0 -238px; cursor:pointer;}

#album #album_title #title_tab{ width:64px; height:32px; position:absolute; right:0; top:0; }
#album #album_title #title_tab .prev{ display:block; width:32px; height:32px; background:url(../images/icon_sprite.png) no-repeat -32px -96px;}
#album #album_title #title_tab .prev:hover{ background:url(../images/icon_sprite.png) no-repeat -64px -96px;}/* 鼠标移入*/
#album #album_title #title_tab .now { background: url(../images/icon_sprite.png) no-repeat 0px -96px;}
#album #album_title #title_tab .now:hover { background-position: -64px -96px; }
#album #album_title #title_tab .disable_prev,#album #album_title #title_tab .disable_prev:hover { background: url(../images/icon_sprite.png) no-repeat -32px -96px;}
#album #album_title #title_tab .next{ display:block; width:32px; height:32px; background:url(../images/icon_sprite.png) no-repeat 0 -128px;}
#album #album_title #title_tab .next:hover{ background:url(../images/icon_sprite.png) no-repeat -64px -128px;}/* 鼠标移入*/
#album #album_title #title_tab .disable_next, #album #album_title #title_tab .disable_next:hover { background: url(../images/icon_sprite.png) no-repeat; background-position: -32px -128px;}

/* 在线首发_内容 */
#album #album_list{ width:700px; height:270px; margin-top:18px;}		
#album #album_list .ulTab{ width:712px; height:270px; margin-right:-12px; margin-bottom:-10px; position:absolute;}
#album #album_list .ulTab li{ width:130px; height:130px; margin:0 12px 10px 0; float:left; cursor:pointer; position:relative;}
#album #album_list .ulTab li a{ display:block; width:130px; height:130px;}
#album #album_list .ulTab li a .play{ display:block; width:20px; height:20px; position:absolute; right:5px; top:57px; background:url(../images/icon_sprite.png) no-repeat 0 3px; background-size:338%;}/* 缩小雪碧图 */
#album #album_list .ulTab li a .play:hover{ background:url(../images/icon_sprite.png) no-repeat -42px 3px; background-size:338%;}
#album #album_list .ulTab li a img{ display:inline-block; width:130px; height:130px;}
#album #album_list .ulTab li a span{ width:130px; height:44px; padding:2px 0; background:rgba(0,0,0,0.4); position:absolute; right:0; bottom:0;}
#album #album_list .ulTab li a strong{ display:block; width:130px; height:22px; line-height:22px; text-indent:5px; font-size:12px;}
#album #album_list .ulTab li a strong:nth-child(1){ font-size:13px; color:#10af46;}
#album #album_list .ulTab li a strong:nth-child(2){ color:#fff;}


/* mv */
#mv{ width:700px; height:416px; margin-top:36px;}
#mv #mv_title{ width:700px; position:relative;}	
#mv #mv_title #mv_title_L{ width:156px; height:30px; padding-left:10px; border-left:5px solid #ff7800; position:relative;}
#mv #mv_title #mv_title_L h2{ width:92px; height:26px; margin-right:10px; background:url(../images/index_title_bg.png) no-repeat 0 -26px; position:absolute; left:10px; top:2px; }
#mv #mv_title #mv_title_L sub{ width:36px; height:14px; position:absolute; left:120px; bottom:3px; background:url(../images/index_title_bg.png) no-repeat; background-position:0 -238px; cursor:pointer;}

#mv #mv_list{ width:700px; height:368px; margin-top:18px;}
#mv #mv_list ul{ width:720px; height:368px; margin-right:-20px;}
#mv #mv_list ul li{ width:160px; height:184px; margin-right:20px; float:left; position:relative;}
#mv #mv_list ul li a.image img{ display:block; width:160px; height:90px;}
#mv #mv_list ul li p.songname{ width:160px; height:24px; margin-top:2px; line-height:24px; font-size:12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#mv #mv_list ul li p.songname a:nth-child(1){ color:#0c8f61;}
#mv #mv_list ul li p.songname a:nth-child(2){ color:#515151;}
#mv #mv_list ul li p.illu{ width:160px; height:24px; line-height:24px; font-size:12px; color:#8b8b8b; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}/*超出文字省略显示*/
#mv #mv_list ul li em{ font-style:normal; font-size:14px; line-height:30px; color:#a8a3a3; position:absolute; right:0;}
#mv #mv_list ul li a.play{ display:block; width:20px; height:20px; border-radius:50%; position:absolute; right:5px; top:57px; background:url(../images/icon_sprite.png) no-repeat 0 0 rgba(0,0,0,0.2); background-size:338%; display:none;}/* 缩小雪碧图 */
#mv #mv_list ul li a.play:hover{ background:url(../images/icon_sprite.png) no-repeat -42px 0 rgba(0,0,0,0.2); background-size:338%;}


/* list */
#list{ width:700px; height:487px; margin-top:10px; position:relative;}

/* new */
#new {} /* 整个左侧 */
#new #new_title { width:350px; height:30px; margin-bottom:11px; position:relative;} /* 左侧标题 */
#new #new_title #new_title_L { width:120px; height:30px; padding-left:5px; border-left:5px solid #569060;}	/* 左侧标题-左侧 */
#new #new_title #new_title_L h2 { width:110px; height:26px; position:absolute; left:15px; top:2px; background:url(../images/index_title_bg.png) no-repeat 0 -52px;}
#new #new_title #new_title_L .newplay { width:30px; height:30px; position:absolute; left:134px; background:url(../images/icon_sprite.png) no-repeat 0 -64px;}
#new #new_title #new_title_L .newplay:hover { background:url(../images/icon_sprite.png) no-repeat -30px -64px;}
#new #new_title #new_title_L .newadd { width:30px; height:30px; position:absolute; left:174px; background:url(../images/icon_sprite.png) no-repeat -56px -285px;}
#new #new_title #new_title_L .newadd:hover { background:url(../images/icon_sprite.png) no-repeat -88px -285px;}

#new #new_title #new_title_R { position:absolute; right:0; top:0;}  /* 左侧标题-右侧 */
#new #new_title #new_title_R ul { width:130px; height:30px;}
#new #new_title #new_title_R ul li { float:left; line-height:30px;}
#new #new_title #new_title_R ul li:first-child a { color:#333333;}
#new #new_title #new_title_R ul li a { color:#0c8f44; font-size:12px;}
#new #new_title #new_title_R ul li a:hover { color:#05b600;}
#new #new_title #new_title_R ul li span { display:inline-block; width:1px; height:12px; background:#d8d8d8; margin:0 8px;}

/* 歌曲列表 */
#new_list { width:350px;}
#new_list ul { width:350px; height:432px;}
#new_list ul li { width:334px; height:35px; line-height:35px; border-bottom:1px dotted #fff; position:relative;}
#new_list ul li:hover { height:35px; border-bottom:1px dotted #e2e2e2;}
#new_list ul li a { font-size:14px; color:#009041;}
#new_list ul li .new_snl{ display:inline-block; width:189px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#new_list ul li .new_srl{ display:inline-block; margin-left:11px; line-height:35px; position:absolute; left:200px; font-weight:bold; color:#333;}

/* hot */
#hot { position:absolute; right:0; top:0; border-left:1px solid #e5e5e5;}
#hot #hot_title { width:350px; height:30px; margin-bottom:11px; position:relative;} /* 左侧标题 */
#hot #hot_title #hot_title_L { width:120px; height:30px; padding-left:5px; border-left:5px solid #569060;}	/* 左侧标题-左侧 */
#hot #hot_title #hot_title_L h2 { width:110px; height:26px; position:absolute; left:15px; top:2px; background:url(../images/index_title_bg.png) no-repeat 0 -253px;}
#hot #hot_title #hot_title_L .hotplay { width:30px; height:30px; position:absolute; left:134px; background:url(../images/icon_sprite.png) no-repeat 0 -64px;}
#hot #hot_title #hot_title_L .hotplay:hover { background:url(../images/icon_sprite.png) no-repeat -30px -64px;}
#hot #hot_title #hot_title_L .hotadd { width:30px; height:30px; position:absolute; left:174px; background:url(../images/icon_sprite.png) no-repeat -56px -285px;}
#hot #hot_title #hot_title_L .hotadd:hover { background:url(../images/icon_sprite.png) no-repeat -88px -285px;}

/* 歌曲列表 */
#hot_list { width:329px; padding-left:21px;}
#hot_list ul { width:329px; height:432px;}
#hot_list ul li { width:334px; height:35px; line-height:35px; border-bottom:1px dotted #fff; position:relative;}
#hot_list ul li:hover { height:35px; border-bottom:1px dotted #e2e2e2;}
#hot_list ul li a { font-size:14px; color:#009041;}
#hot_list ul li .hot_snl{ display:inline-block; width:189px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#hot_list ul li .hot_srl{ display:inline-block; margin-left:11px; line-height:35px; position:absolute; left:200px; font-weight:bold; color:#333;}


/* select */
#select{ width:700px; height:409px; background:#fff; margin-bottom:100px;}
#select #select_title #title_L{ width:156px; height:30px; padding-left:10px; border-left:5px solid #f3508d; position:relative;}
#select #select_title #title_L h2{ width:110px; height:26px; margin-right:10px; background:url(../images/index_title_bg.png) no-repeat 0 -78px; position:absolute; left:10px; top:2px; }

#select #select_list{ width:700px; height:343px; margin-top:18px;}
#select #select_list a.select_title{ color:#0c8f44; font-size:12px; line-height:27px;}
#select #select_main{ width:270px; height:343px;}
#select #select_main p{ font-size:12px; color:#8b8b8b;}
#select #select_branch{ width:415px; height:343px;}
#select #select_branch ul{ width:427px; height:372px; margin-bottom:-29px; margin-right:-12px;}
#select #select_branch ul li{ width:130px; height:157px; margin:0 12px 29px 0; float:left;}
#select #select_branch ul li img{ width:130px; height:130px; }

/* 右侧内容 */
#cont #sider{ width:220px; height:100%; }

/* log */
#log{ width:220px; height:135px; border-bottom:1px solid #e4e4e4; position:relative;}
#log a{ display:block; width:170px; height:45px; position:absolute; left:25px; bottom:35px;}

/* tab2 */
#tab2{ width:220px; height:107px; margin:20px 0 19px 0; position:relative;}
#tab2 #ul3{ position:relative; width:220px; height:88px;}
#tab2 #ul3 li{ width:220px; height:88px; position:absolute; display:none;}
#tab2 ol{ width:75px; height:7px; padding:6px 0; margin-right:-8px; position:absolute; left:77px;}
#tab2 ol li{ width:7px; height:7px; border-radius:2px; background:#e2e2e2; margin-right:8px; float:left; cursor:pointer; }
#tab2 ol li.active{ background:#a0a0a0;}


/* peaklist */
#peaklist{ width:220px; height:440px;}

/* peaktitle */
#peaklist #peaktitle{ width:220px; height:30px; position:relative;}
#peaklist #peaktitle h2{ width:54px; height:18px; position:absolute; left:0; top:6px; background:url(../images/index_title_bg.png) no-repeat 0 -220px;}
#peaklist #peaktitle .peakplay{ width:30px; height:30px; position:absolute; left:65px; background:url(../images/icon_sprite.png) no-repeat -30px 0; background-size:324%; }
#peaklist #peaktitle .peakplay:hover{ background:url(../images/icon_sprite.png) no-repeat -60px 0; background-size:324%}
#peaklist #peaktitle .peakadd{ width:30px; height:30px; position:absolute; left:105px; background:url(../images/icon_sprite.png) no-repeat -56px -285px; }
#peaklist #peaktitle .peakadd:hover{ background:url(../images/icon_sprite.png) no-repeat -88px -285px;}

/* epidemicIndex */
#epidemicIndex{ width:220px; height:24px; padding-top:12px; }
#epidemicIndex a{ display:inline-block; height:12px; padding:0 5px; color:#0e8f46; font-size:12px; border-right:1px solid #d8d8d8;}
#epidemicIndex a:hover{ color:#33b600;}
#epidemicIndex a:nth-child(1){ padding-left:0; color:#333; }
#epidemicIndex a:nth-child(1):hover{ color:#33b600;}
#epidemicIndex a:nth-child(5){ padding-right:0; border-right:none;}

/* peakrank */
#peakrank{ width:220px; height:270px;}
#peakrank ul{}
#peakrank ul li[class*='num1']{ width:220px; height:50px; position:relative;}	/* 匹配元素 */
#peakrank ul li[class*='num1'] span{ display:block; width:30px; height:50px; background:url(../images/82749182332523.jpg) no-repeat 0 0; }
#peakrank ul li[class*='num1'] img{ position:absolute; display:inline-block; width:50px; height:50px; left:42px; top:0;}
#peakrank ul li[class*='num1'] div{ position:absolute; right:0; top:0; width:117px; height:50px;}
#peakrank ul li[class*='num1'] div h2{ width:117px; height:24px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
#peakrank ul li[class*='num1'] div h2 a{ font-family:'Microsoft yahei'; font-size:22px; line-height:24px; color:#ff5400; position: relative; top: -5px;}
#peakrank ul li[class*='num1'] div h2 a:hover{ color:#05b600;}
#peakrank ul li[class*='num1'] div a.firstname{ font-size:12px; position:absolute; left:0; bottom:0; display:inline-block; line-height:17px; color:#515151;}

#peakrank ul li[class*='num2']{ width:220px; height:24px; position:relative;} 	/* 匹配元素 */ 
#peakrank ul li[class*='num2'] span{ display:block; width:30px; height:24px; background:url(../images/82749182332523.jpg) no-repeat 0 -50px;}
#peakrank ul li[class*='num2'] a.songname{ position:absolute; left:42px; top:9px; font-size:13px; color:#0e8f63; display:block; width:102px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#peakrank ul li[class*='num2'] a.songname:hover{ color:#05b600;}
#peakrank ul li[class*='num2'] p{ width:72px; height:24px; position:absolute; right:0; top:0;}
#peakrank ul li[class*='num2'] p a{ float:right; color:#515151; font-size:12px; position:absolute; right:0; top:10px;}
#peakrank ul li[class*='num2'] p a:hover{ color:#05b600;}
#peakrank ul li[class*='num3'] span{ background:url(../images/82749182332523.jpg) no-repeat 0 -74px;}
#peakrank ul li[class*='num4'] span{ background:url(../images/82749182332523.jpg) no-repeat 0 -98px;}
#peakrank ul li[class*='num5'] span{ background:url(../images/82749182332523.jpg) no-repeat 0 -122px;}
#peakrank ul li[class*='num6'] span{ background:url(../images/82749182332523.jpg) no-repeat 0 -146px;}
#peakrank ul li[class*='num7'] span{ background:url(../images/82749182332523.jpg) no-repeat 0 -170px;}
#peakrank ul li[class*='num8'] span{ background:url(../images/82749182332523.jpg) no-repeat 0 -194px;}
#peakrank ul li[class*='num9'] span{ background:url(../images/82749182332523.jpg) no-repeat 0 -218px;}
#peakrank ul li[class*='num10'] span{ background:url(../images/82749182332523.jpg) no-repeat 0 -242px;}

/* bangdan */
#bangdan{ width:220px; height:99px; border-bottom:1px solid #e4e4e4; border-top:1px dotted #e4e4e4; margin:20px 0 25px 0;}
#bangdan ul{ padding:12px 0 15px 0; width:240px; margin-right:-20px;}
#bangdan ul li{ width:60px; height:24px; line-height:24px; margin-right:20px; float:left; font-size:12px;}
#bangdan ul li a{ font-size:12px; color:#515358;}

/* singer */
#singer{ width:220px; height:326px; margin-top:42px;}
#singer #singertitle{ width:220px; height:21px; position:relative;}
#singer #singertitle h2{ width:70px; height:17px; position:absolute; left:1px; top:2px; background:url(../images/index_title_bg.png) no-repeat 0 -203px;}
#singer #singertitle sub{ position:absolute; left:81px; bottom:2px; display:block; width:36px; height:14px; background:url(../images/index_title_bg.png) no-repeat 0 -238px; cursor:pointer;}

#singer ul{ width:254px; height:178px; margin-right:-34px; margin-bottom:-2px;  margin-top:17px;}
#singer ul li{ width:50px; height:79px; float:left; margin:0 34px 11px 0;}
#singer ul li img{ width:50px; height:50px; display:inline-block;}
#singer ul li a:nth-child(2){ color:#0c8f44; font-size:12px; line-height:29px;}

#singer #line2{ width:220px; height:1px; border-bottom:1px dotted #c6c6c6;}
#singer #line3{ width:220px; height:1px; border-bottom:1px solid #e4e4e4;}

#singer ol{ width:252px; height:96px; margin:13px 0 0 -32px;  }
#singer ol li{ margin-left:28px; float:left; height:24px; font-size:12px; line-height:24px;}
#singer ol li a{ color:#515153;}


/* more */
#more{ width:220px; height:277px; margin:18px 0 13px 0; border-bottom:1px solid #e4e4e4;}
#more #moretitle{ width:220px; height:21px; position:relative;}
#more #moretitle h2{ width:72px; height:17px; position:absolute; left:1px; top:2px; background:url(../images/index_title_bg.png) no-repeat 0 -149px;}

#more ul{ margin:18px 0 0 0;}
#more ul li{ width:220px; height:112px; margin-bottom:7px;}
#more ul li a:nth-child(2){ display:inline-block; height:24px; color:#489255; font-size:12px; line-height:24px; }


/* 页脚内容 */
#footer{ width:100%; height:260px; margin-bottom:10px; background:#f7f7f7; color:#757575;}

#parent_foo{ width:920px; padding:30px 20px 49px; height:108px; margin:0 auto; position:relative;}
#parent_foo div:nth-child(1){ width:252px; height:108px; margin-right:100px; position:absolute; left:0; top:30px; }
#parent_foo div:nth-child(2){ height:112px; height:108px; margin-right:91px; position:absolute; left:353px; top:30px;}
#parent_foo div:nth-child(3){ width:369px; height:108px; position:absolute; left:556px; top:30px;}
#parent_foo div h3{ height:31px; line-height:31px;}

#parent_foo div:nth-child(1) .child_foo{ width:252px; height:77px;}
#parent_foo div:nth-child(1) .child_foo li{ font-size:12px; height:25px; line-height:25px; float:left; margin-right:20px;}
#parent_foo div:nth-child(1) .child_foo li:nth-child(6){ margin-right:0;}
#parent_foo div:nth-child(1) .child_foo li a{ color:#757575;}

#parent_foo div:nth-child(2) .child_foo{ width:112px; height:77px;}
#parent_foo div:nth-child(2) .child_foo li{ font-size:12px; height:25px; line-height:25px;}
#parent_foo div:nth-child(2) .child_foo li a{ color:#757575;}

#parent_foo div:nth-child(3) .child_foo{ width:364px; height:77px;}
#parent_foo div:nth-child(3) .child_foo li{ font-size:12px; height:25px; float:left; margin-right:20px; line-height:25px;}
#parent_foo div:nth-child(3) .child_foo li a{ color:#757575;}
#parent_foo div:nth-child(3) .child_foo li:nth-child(5){ margin-right:0px;}
#parent_foo div:nth-child(3) .child_foo li:nth-child(){}

#footer ol{ width:520px; height:25px; line-height:25px; margin:0 auto;}
#footer ol li{ float:left; line-height:25px; font-size:8px;}
#footer ol li a{ color:#515151; font-size:12px; padding:0 2px;}

#footer p{ width:320px; height:22px; line-height:22px; margin:0 auto; font-size:12px; text-align:center;}
#footer p a{ font-size:12px; color:#515151;}


/* 微信 */
#weixin{ width:112px; height:404px; background:#fff; border:1px solid #dbdbdb; position:fixed; right:40px; top:150px;}
#weixin #download{ width:112px; height:185px; border-bottom:1px solid #dbdbdb; position:absolute;}
#weixin #download a.close{ display:block; width:20px; height:20px; background:#353535; color:#fff; position:absolute; right:0; top:0; text-align:center; line-height:20px;}
#weixin #download ul{ padding-left:10px; margin-top:23px; color:#8b8b8b; font-size:14px;}
#weixin #download ul li{ line-height:30px; width:112px; height:30px; }
#weixin #download ul li[class*='icon']{ position:relative;  /*background:url(../images/icon_sprite.png) no-repeat;*/ }

#weixin #download ul li span{ position:absolute; top:6px; display:inline-block; width:18px; height:18px; line-height:30px;}
#weixin #download ul li:nth-child(2) span{ background:url(../images/icon_sprite.png) no-repeat -1px -501px;}
#weixin #download ul li:nth-child(3) span{ background:url(../images/icon_sprite.png) no-repeat -21px -501px;}
#weixin #download ul li:nth-child(4) span{ background:url(../images/icon_sprite.png) no-repeat -41px -501px;}
#weixin #download ul li:nth-child(5) span{ background:url(../images/icon_sprite.png) no-repeat -61px -501px;}

#weixin #download ul li a{ position:absolute; left:26px; color:#8b8b8b; font-size:13px;}
#weixin #download ul li a:hover{ color:#0cc65b;} 

#weixin #erweima{ width:112px; height:153px; border-bottom:1px solid #dbdbdb; position:relative; top:185px;}
#weixin #erweima img{ position:absolute; display:block; width:80px; height:80px; left:16px; top:15px}
#weixin #erweima p{ position:absolute; color:#616156; text-align:center; font-size:12px; width:112px;}

#weixin #erweima .p1{ top:108px;}
#weixin #erweima .p2{ top:128px;}

#weixin #weibo{ width:112px; height:64px; position:absolute; bottom:0;}
#weixin #weibo p{ width:112px; line-height:30px; font-size:12px; text-align:center; color:#515661;}
#weixin #weibo .focus{ width:122px; height:22px; bottom:12px; position:absolute;}
#weixin #weibo .focus a span{ position:absolute; left:2px; top:3px; display:block; width:16px; height:14px; background:url(../images/bg_flbtn.png) -190px 0;}
#weixin #weibo .focus a{ width:62px; height:22px; display:block; position:absolute; left:25px; margin:0 auto; background:url(../images/bg_flbtn.png) no-repeat 0 0; font-size:13px; color:#1782be; line-height:22px; text-indent:20px; }
#weixin #weibo .focus a:hover{ background:url(../images/bg_flbtn.png) 0 -23px;}










